*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 10px 15px;
    display: flex;
    gap: 30px;
}
.card1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 340px;
    width: 250px;
    background-color: rgb(236, 227, 223);
    border-radius: 10px;
    box-shadow: 0px 5px 18px rgb(160, 143, 143);
    overflow: hidden;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btm {
    color: white;
    position: absolute;
    display: flex;
    gap: 10px;
    height: 30%;
    bottom: -30%;
    width: 100%;
    background: linear-gradient(transparent, black);
    align-items: center;
    justify-content: center;
    transition: all ease-in 0.5s;
}

.card1:hover .btm {
    bottom: 0%;
}

h1 {
    font-size: 20px ;
}


button {
    padding: 8px 12px;
    font-size: 15px;
    border-radius: 100px;
    border: none;
    background-color: rgb(83, 83, 251);
    color: white;
}

.card2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 340px;
    width: 250px;
    background-color: rgb(236, 227, 223);
    border-radius: 10px;
    box-shadow: 0px 5px 18px rgb(160, 143, 143);
    overflow: hidden;
}
.card3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 340px;
    width: 250px;
    background-color: rgb(236, 227, 223);
    border-radius: 10px;
    box-shadow: 0px 5px 18px rgb(160, 143, 143);
    overflow: hidden;
}

.card2:hover .btm {
    bottom: 0%;
}

.card3:hover .btm {
    bottom: 0%;
}