*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#nav {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 35px;
    background-color: rgb(244, 245, 246);
    padding: 15px 18px;
}

#nav h2 {
    font-size: 12px;
    font-weight: 200;
}

#center {
    margin-top: 40px;
    padding: 60px;
    text-align: center;
    height: 570px;
    background-image: url("https://www.apple.com/v/home/cm/images/heroes/iphone-family/hero_iphone_family__fuz5j2v5xx6y_medium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#center h1{
    font-size: 60px;
    font-weight: 500;
}
#center h2{
    font-size: 28px;
    font-weight: 300;
}

.links {
    margin-top: 20px;
}

.btn1 {
    background-color: rgb(48, 110, 255);
    color: white;
    padding: 13px 18px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
}
.btn2 {
    
    color: rgb(48, 110, 255);
    padding: 13px 18px;
    border: 1px solid rgb(48, 110, 255);
    border-radius: 50px;
    font-size: 18px;
    margin-left: 12px;
}

.btn2:hover {
    color: white;
    border: none;
    background-color: rgb(48, 110, 255);
}
#center2 {
    margin-top: 10px;
    padding: 60px;
    text-align: center;
    height: 570px;
    background-image: url("https://www.apple.com/in/home/images/heroes/apple-watch-series-11/hero_apple_watch_series_11__bdz1mml4dx6q_medium.jpg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    background-color: rgb(244, 245, 246);
}

#center2 h1{
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}
#center2 h2{
    font-size: 24px;
    font-weight: 300;
}