*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px 20px;
}

#left {
    width: 50%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#right {
    margin-top: 40px;
    padding: 10px 15px;
    width: 50%;
}

#right>h1 {
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 500;
}

.midright>h2 {
    font-size: 170px;
    text-align: center;
    color: rgb(5, 156, 5);
}

span {
    font-size: 75px;
    font-weight: 400;
    color: grey;
}

.btmright {
    position: absolute;
    right: 2%;
    width: 45%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
}

.btmright h2 {
    font-size: 28px;
}
.btmright p {
    font-size: 17px;
}

button {
    background-color: white;
    position: absolute;
    right: 2%;
    bottom: 20%;
    height: 30px;
    font-size: 18px;
    border-radius: 8px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.btmright .second{
    margin-top: 15px;
}