* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html, body {
  min-height: 100vh;
  width: 100%;
  color: white;
}

body {
  background-color: #0b0b0c;
  color: white;
}

div.follower {
  display: none;
  position: fixed;
  height: 1rem;
  width: 1rem;
  background-color: red;
  border-radius: 50%;
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 60ms;
  z-index: 5;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
main nav {
  width: 95%;
  position: fixed;
  z-index: 4;
  background-color: rgb(18, 16, 16);
  margin: 0.8rem 1rem;
  border-radius: 3rem;
  padding: 0.7rem 0.8rem;
}
main nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main nav .menu .logo {
  font-size: 1.5rem;
  background-color: rgb(238, 25, 25);
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
}
main nav .menu .menu-i {
  font-size: 1.8rem;
}
main nav .menu .close {
  display: none;
  font-size: 1.8rem;
}
main nav .menu h2 {
  display: none;
}
main nav .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main nav .list a {
  display: none;
  font-size: 1.3rem;
}
main nav .list button {
  display: none;
  background-color: rgb(224, 65, 65);
  color: white;
  font-size: 1.3rem;
  border: none;
  border-radius: 1.8rem;
  padding: 0.8rem 1.5rem;
}
main section.view1 {
  position: relative;
  z-index: 3;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section.view1 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
main section.view1 .layer {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgba(11, 11, 12, 0.4) 0%, rgba(11, 11, 12, 0.8) 70%, #0b0b0c 100%);
  pointer-events: none;
}
main section.view1 .texts {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 6rem;
}
main section.view1 .texts .noti {
  padding: 0.2rem 0.6rem;
  border: 2px solid rgb(151, 149, 149);
  border-radius: 10rem;
}
main section.view1 .texts .noti .noti-h {
  font-size: 1rem;
}
main section.view1 .texts .hero-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
main section.view1 .texts .hero-text h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 500;
}
main section.view1 .texts .hero-text .para {
  width: 90%;
  max-width: 34ch;
}
main section.view1 .texts .btns {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}
main section.view1 .texts .btns button {
  padding: 1rem 1.6rem;
  border-radius: 5rem;
  border: none;
  color: white;
}
main section.view1 .texts .btns .bt1 {
  background-color: rgb(224, 65, 65);
}
main section.view1 .texts .btns .bt2 {
  background-color: rgb(18, 16, 16);
}
main section.view1 .texts .workedwith {
  text-align: center;
}
main section.view1 .texts .workedwith .imgs {
  display: flex;
}
main section.view1 .texts .workedwith .imgs img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.view1 .texts .workedwith .imgs .num {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.8rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: rgb(170, 172, 172);
}
main section.view1 .texts .workedwith .stars i {
  font-size: 1.4rem;
  color: gold;
  letter-spacing: 0;
}
main section.view1 .video {
  position: relative;
  z-index: 3;
  width: 90%;
  margin-top: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  border: 0.8rem solid rgba(82, 80, 80, 0.2);
  aspect-ratio: 4/5;
}
main section.view1 .video video {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.view2 {
  position: relative;
  z-index: 3;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main section.view2 .card-container .card {
  position: sticky;
  top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1.5rem;
  border: 0.6rem solid rgb(57, 55, 55);
  border-radius: 2rem;
  width: 100%;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.5);
}
main section.view2 .card-container .card .card:nth-child(1) {
  z-index: 11;
  top: 10vh;
  margin-bottom: -120%;
}
main section.view2 .card-container .card .card2 {
  z-index: 12;
  top: 10vh;
  margin-bottom: -120%;
}
main section.view2 .card-container .card .card3 {
  z-index: 13;
  top: 10vh;
  margin-bottom: -120%;
}
main section.view2 .card-container .card img {
  height: 10rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

@media (min-width: 800px) {
  div.follower {
    display: initial;
  }
  main {
    gap: 2rem;
  }
  main nav {
    display: flex;
    align-items: center;
    gap: 4rem;
    width: -moz-max-content;
    width: max-content;
    margin: 1.5rem auto;
  }
  main nav .menu {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  main nav .menu .menu-i {
    display: none;
  }
  main nav .menu h2 {
    display: initial;
  }
  main nav .list {
    flex-direction: row;
  }
  main nav .list a {
    display: initial;
  }
  main nav .list #bookcall {
    display: initial;
  }
  main section.view1 {
    flex-direction: row;
    justify-content: center;
    padding: 0rem 1rem;
    gap: 2rem;
  }
  main section.view1 .texts {
    width: 50%;
  }
  main section.view1 .texts .noti {
    display: flex;
    align-self: flex-start;
    margin-left: 7rem;
  }
  main section.view1 .texts .hero-text {
    text-align: left;
  }
  main section.view1 .texts .hero-text h1 {
    font-size: 4rem;
    max-width: 15ch;
    font-weight: 400;
  }
  main section.view1 .texts .hero-text .para {
    font-size: 1.2rem;
    opacity: 0.6;
    max-width: 55ch;
  }
  main section.view1 .texts .btns {
    flex-direction: row;
  }
  main section.view1 .video {
    margin-top: 7rem;
    width: 36%;
    aspect-ratio: 4/4;
  }
  main section.view1 .video video {
    position: relative;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */