*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(18, 17, 17);
}

@mixin flexCol ($gap:0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section {
    max-width: 1600px;
}

main {
    height: 100%;
    width: 100%;
    @include flexCol(0rem);
    align-items: center;

    section {
        width: 100%;
        @include flexCol(1rem);
        padding: 1rem;
    }

    .top {
        width: 100%;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    .btm {
        @include flexCol(2.4rem);
        padding: 2rem;
        background-color: #2d2929;
        color: whitesmoke;
        border-radius: 10px;

        .text {
            @include flexCol(1rem);

            h1 {
            font-weight: 400;
            font-size: 2.4rem ;
            text-transform: uppercase;
             }

             p{
                font-size: 1.2rem;
                line-height: 1.8rem;
                opacity: 0.6;
             }

            button {
                width: fit-content;
                border-radius: 5px;
                border: none;
                background: none;
                color: whitesmoke;
            }
        }
    }
}

@media (min-width:900px) {
   main {
    
    section {
        flex-direction: row;

        .top, .btm {
            width: 50%;
        }

        .btm {
            justify-content: space-between;
            padding: 4rem;

            .text {
                justify-content: space-between;
                gap: 1.5rem;
                h1 {
                    line-height: 5rem;
                    font-size: 3.8rem;
                }
            }
        }
    }
   }
}